.errorSection{
    /* background-color:blue; */
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.errorText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.errorImg{
    width: max-content;
    background-color: blueviolet;
    border-radius: 20px;
}
.btns {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btns:hover {
  background-color: #0056b3;
}